.venv
.idea

taxa_sunburst.html
Temp.ipynb
/src/olist
Weekly_tasks/Week 2/olxDB.db
Weekly_tasks/Week 3/listing.csv
Weekly_tasks/Week 4/photos.csv
Weekly_tasks/Week 3/output.csv
Weekly_tasks/Week 4/cleaned_OLX_EDA.csv
Weekly_tasks/Week 4/ML_ready_datasets